.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-button {
    background-color:#e8efed;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 40px;
  }
  .dropdown-options {
    display: none;
    position: absolute;
    background-color: #565357;
    color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style: none;
    z-index: 1;
    font-size: 15px;
    padding: 10px 10px;
  }
  .dropdown-option {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  .dropdown-option:last-child {
    border-bottom: none;
  };